.komando-display{
  background: black;
  color: #888;
  padding: 10px;
  min-height: 240px;
  max-height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
}

.komando-display.active{
  color: white;
}

.komando-display p {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.komando-display p.robot {
  color: limegreen;
}

.komando-display p.info {
  color: magenta;
}

.komando-display p.error {
  color: red;
}

.komando-display p.robot:before {
  content: '> ';
}

.komando-input{
  font-family: inherit;
  background: #333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: white;
  display: block;
  width: 100%;
  max-width: 100%;
  border: 0;
  border-radius: 0px;
  outline: 0;
  padding: 10px 10px;
  font-size: 1em;
}
